# 开发环境配置
server:
  port: 80
spring:
  devtools:
    restart:
      enabled: true
  freemarker:
    cache: false
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/private_diary
    username: root
    password: 970712
  servlet:
    multipart:
      location: F:\Files\
  redis:
    host: 127.0.0.1
    port: 6379
#    password: Guzx.@970712
#    timeout: 10000
  mail:
    host: smtp.163.com
    username: qq2544697696@163.com
    password: DBTQLRXWXWROYWMF
    protocol: smtp
    default-encoding: UTF-8
image:
  baseImagePath: F:\Files\
