spring:
  profiles:
    active: dev
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  servlet:
    load-on-startup: 1
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 30MB
      resolve-lazily: true
      file-size-threshold: 2KB
#      location: /home/files
      location: F:/Files
  redis:
    jedis:
      pool:
        max-active: 100
        min-idle: 5
        max-idle: 10
        max-wait: 1000
    host: 180.76.58.205
    port: 6379
    password: 123456
    timeout: 10000
#  activemq:
#    broker-url: tcp://localhost:61616
#    user: admin
#    password: admin
#    pool:
#      enabled: true
#      max-connections: 50
#  jms:
#    pub-sub-domain: true
#    template:
#      default-destination: activemq.default.destination
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: per.guzx.pri_diary.pojo
  configuration:
    map-underscore-to-camel-case: true
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
image:
  baseImagePath: F:/Files





