server:
  port: 80
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/private_diary
    username: root
    password: 970712
    tomcat:
      max-idle: 0
      max-active: 50
      max-wait: 1000
      initial-size: 10
      default-transaction-isolation: 2
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  servlet:
    multipart:
      enabled: true
      location: F:\Files
      max-file-size: 20MB
      max-request-size: 30MB
      resolve-lazily: true
      file-size-threshold: 2KB
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: per.guzx.pri_diary.pojo




