<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.pri_diary.dao.PdDiaryDao">

    <sql id="select_diary">
        select user_id           userId,
               diary_id          diaryId,
               diary_title       diaryTitle,
               diary_weather     diaryWeather,
               diary_mood        diaryMood,
               diary_event       diaryEvent,
               diary_location    diaryLocation,
               diary_create_time diaryCreateTime,
               diary_update_time diaryUpdateTime,
               detail_content    detailContent,
               detail_photo      detailPhoto
    </sql>

    <sql id="select_diary_main">
        select user_id        userId,
               diary_id       diaryId,
               diary_title    diaryTitle,
               diary_weather  diaryWeather,
               diary_mood     diaryMood,
               diary_event    diaryEvent,
               diary_location diaryLocation,
               detail_content detailContent,
               detail_photo   detailPhoto
    </sql>

    <sql id="sql_where">
        <if test="diaryTitle != null and diaryTitle != ''">diary_title = #{diaryTitle},</if>
        <if test="diaryWeather != null">diary_weather = #{diaryWeather},</if>
        <if test="diaryMood != null">diary_mood = #{diaryMood},</if>
        <if test="diaryEvent != null">diary_event = #{diaryEvent},</if>
        <if test="detailPhoto != null and detailPhoto != ''">detail_photo = #{detailPhoto},</if>
        <if test="detailContent != null and detailContent != ''">detail_content = #{detailContent},</if>
        <if test="diaryLocation != null and diaryLocation != ''">diary_location = #{diaryLocation},</if>
        <if test="diaryUpdateTime != null and diaryUpdateTime != ''">diary_update_time = #{diaryUpdateTime},</if>
    </sql>

    <insert id="insertDiary" useGeneratedKeys="true" keyProperty="diaryId">
        insert into pd_diary(user_id, diary_title, diary_weather, diary_mood, diary_event, diary_location,
                             detail_content, detail_photo, diary_create_time, diary_update_time, diary_longitude,
                             diary_latitude, diary_create_day)
            value
            (#{userId}, #{diaryTitle}, #{diaryWeather}, #{diaryMood}, #{diaryEvent}, #{diaryLocation},
             #{detailContent}, #{detailPhoto}, #{diaryCreateTime}, #{diaryUpdateTime}, #{diaryLongitude},
             #{diaryLatitude}, #{diaryCreateDay})
    </insert>

    <update id="updateDiary">
        update pd_diary
        <set>
            <include refid="sql_where"></include>
        </set>
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </update>

    <delete id="deleteDiary" parameterType="int">
        delete
        from pd_diary
        where user_id = #{userId}
          and diary_id = #{diaryId}
    </delete>

    <select id="findDiaryById" resultType="diary">
        <include refid="select_diary"></include>
        from
        pd_diary
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </select>

    <select id="findDiaryOtherById" resultType="diary">
        <include refid="select_diary_main"></include>
        from
        pd_diary
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </select>

    <select id="findDiaryAll" resultType="diary">
        <include refid="select_diary"></include>
        from
        pd_diary
        where user_id = #{userId}
    </select>

    <select id="findDiaryByGlobal" resultType="diary">
        <include refid="select_diary"></include>
        from
        pd_diary
        <where>
            user_id = #{userId}
            <if test="global != null">
                and
                concat(diary_title,diary_weather,diary_mood,diary_event,diary_location,diary_create_time,diary_update_time,detail_content)
                like concat(concat('%',#{global}),'%')
            </if>
            order by diary_update_time
            limit #{start},#{size}
        </where>
    </select>

    <select id="findDiaryByUserId" parameterType="int" resultType="diary">
        <include refid="select_diary_main"></include>
        from
        pd_diary
        where
        user_id = #{userId}
    </select>
</mapper>