<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.priDiary.dao.PdDiaryDao">

    <resultMap id="BaseResultMap" type="diary">
        <id column="diary_id" javaType="int" jdbcType="INTEGER" property="diaryId"/>
        <result column="user_id" javaType="int" jdbcType="INTEGER" property="myUserId"/>
        <result column="diary_photo" javaType="string" jdbcType="VARCHAR" property="myEmail"/>
        <result column="diary_title" javaType="string" jdbcType="VARCHAR" property="myPhone"/>
        <result column="diary_weather" javaType="per.guzx.priDiary.enumeration.WeatherEnum" jdbcType="VARCHAR" property="friendUserId"/>
        <result column="diary_mood" javaType="per.guzx.priDiary.enumeration.MoodEnum" jdbcType="VARCHAR" property="friendEmail"/>
        <result column="diary_event" javaType="per.guzx.priDiary.enumeration.EventEnum" jdbcType="VARCHAR" property="friendPhone"/>
        <result column="diary_content" javaType="string" jdbcType="VARCHAR" property="friendRemark"/>
        <result column="diary_location" javaType="string" jdbcType="VARCHAR" property="friendRemark"/>
        <result column="diary_longitude" javaType="string" jdbcType="VARCHAR" property="friendRemark"/>
        <result column="diary_latitude" javaType="string" jdbcType="VARCHAR" property="friendRemark"/>
        <result column="diary_create_time" javaType="string" jdbcType="TIMESTAMP" property="friendRemark"/>
        <result column="diary_create_day" javaType="string" jdbcType="VARCHAR" property="friendRemark"/>
        <result column="diary_update_time" javaType="string" jdbcType="TIMESTAMP" property="friendRemark"/>
    </resultMap>

    <sql id="select_diary">
        select private_diary.pd_user.user_id,
               private_diary.pd_diary.diary_id,
               private_diary.pd_diary.diary_title,
               private_diary.pd_diary.diary_weather,
               private_diary.pd_diary.diary_mood,
               private_diary.pd_diary.diary_event,
               private_diary.pd_diary.diary_location,
               private_diary.pd_diary.diary_create_time,
               private_diary.pd_diary.diary_update_time,
               private_diary.pd_diary.diary_content,
               private_diary.pd_diary.diary_photo
    </sql>

    <sql id="select_diary_main">
        select private_diary.pd_user.user_id,
               private_diary.pd_diary.diary_id,
               private_diary.pd_diary.diary_title,
               private_diary.pd_diary.diary_weather,
               private_diary.pd_diary.diary_mood,
               private_diary.pd_diary.diary_event,
               private_diary.pd_diary.diary_location,
               private_diary.pd_diary.diary_content,
               private_diary.pd_diary.diary_photo
    </sql>

    <sql id="sql_where">
        <if test="diaryTitle != null and diaryTitle != ''">
            diary_title = #{diaryTitle},
        </if>
        <if test="diaryWeather != null">
            diary_weather = #{diaryWeather},
        </if>
        <if test="diaryMood != null">
            diary_mood = #{diaryMood},
        </if>
        <if test="diaryEvent != null">
            diary_event = #{diaryEvent},
        </if>
        <if test="diaryPhoto != null and diaryPhoto != ''">
            diary_photo = #{diaryPhoto},
        </if>
        <if test="diaryContent != null and diaryContent != ''">
            diary_content = #{diaryContent},
        </if>
        <if test="diaryLocation != null and diaryLocation != ''">
            diary_location = #{diaryLocation},
        </if>
        <if test="diaryUpdateTime != null and diaryUpdateTime != ''">
            diary_update_time = #{diaryUpdateTime},
        </if>
    </sql>

    <insert id="insertDiary" useGeneratedKeys="true" keyProperty="diaryId">
        insert into private_diary.pd_diary(user_id, diary_title, diary_weather, diary_mood, diary_event, diary_location,
                                           diary_content, diary_photo, diary_create_time, diary_update_time,
                                           diary_longitude,
                                           diary_latitude, diary_create_day)
                value
                (#{userId}, #{diaryTitle}, #{diaryWeather}, #{diaryMood}, #{diaryEvent}, #{diaryLocation},
                 #{diaryContent}, #{diaryPhoto}, #{diaryCreateTime}, #{diaryUpdateTime}, #{diaryLongitude},
                 #{diaryLatitude}, #{diaryCreateDay})
    </insert>

    <update id="updateDiary">
        update private_diary.pd_diary
        <set>
            <include refid="sql_where">
            </include>
        </set>
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </update>

    <delete id="deleteDiary" parameterType="int">
        delete
        from private_diary.pd_diary
        where user_id = #{userId}
          and diary_id = #{diaryId}
    </delete>

    <select id="findDiaryById" resultType="per.guzx.priDiary.pojo.PdDiary">
        <include refid="select_diary">
        </include>
        from
        private_diary.pd_diary
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </select>

    <select id="findDiaryOtherById" resultType="per.guzx.priDiary.pojo.PdDiary">
        <include refid="select_diary_main">
        </include>
        from
        private_diary.pd_diary
        where
        user_id = #{userId} and diary_id = #{diaryId}
    </select>

    <select id="findDiaryAll" resultType="per.guzx.priDiary.pojo.PdDiary">
        <include refid="select_diary">
        </include>
        from
        private_diary.pd_diary
        where user_id = #{userId}
    </select>

    <select id="findDiaryByGlobal" resultType="per.guzx.priDiary.pojo.PdDiary">
        <include refid="select_diary">
        </include>
        from
        private_diary.pd_diary
        <where>
            user_id = #{userId}
            <if test="global != null">
                and
                concat(diary_title,diary_weather,diary_mood,diary_event,diary_location,diary_create_time,diary_update_time,diary_content)
                like concat(concat('%',#{global}),'%')
            </if>
            order by diary_update_time
            limit #{start},#{size}
        </where>
    </select>

    <select id="findDiaryByUserId" parameterType="int" resultType="per.guzx.priDiary.pojo.PdDiary">
        <include refid="select_diary_main">
        </include>
        from
        private_diary.pd_diary
        where
        user_id = #{userId}
    </select>

    <select id="getDiaryCountAndDiaryDay" resultType="java.util.HashMap">
        select count(DISTINCT diary_create_day) as recordDays,
               count(diary_id)                  as diaryTotal,
               sum(CHAR_LENGTH(diary_content))  as wordsTotal,
               count(diary_photo)               as photoTotal,
               count(diary_location)            as addressTotal
        from private_diary.pd_diary
        where user_id = #{userId}
    </select>

    <select id="getWeekDiaryCount" resultType="int">
        select count(diary_id)
        from private_diary.pd_diary
        where diary_create_time &gt;= #{beginDate}
          and diary_create_time &lt;= #{endDate}
          and user_id = #{userId}
    </select>

    <select id="getDiaryOther" resultType="java.util.Map">
        select diary_weather   as weather,
               diary_mood      as mood,
               diary_event     as event,
               diary_longitude as longitude,
               diary_latitude  as latitude,
               diary_photo     as photo,
               diary_id        as diaryId
        from private_diary.pd_diary
        where user_id = #{userId}
    </select>

    <select id="getDiaryAndAddressCount" resultType="int">
        select count(diary_id)
        from private_diary.pd_diary
        where diary_location != ''
          and user_id = #{userId}
    </select>

    <select id="getDiaryAddressInfo" resultType="java.util.Map">
        select diary_longitude as longitude,
               diary_latitude  as latitude,
               diary_id        as diaryId
        from private_diary.pd_diary
        where diary_location != ''
          and user_id = #{userId}
    </select>

    <select id="getDiaryImgInfo" resultType="java.util.Map">
        select diary_id as diaryId, diary_photo as imgUrl
        from private_diary.pd_diary
        where diary_photo != ''
          and user_id = #{userId}
    </select>

    <select id="getWeatherTimes" resultType="java.util.Map">
        select diary_weather as label,
               count(*)      as times
        from private_diary.pd_diary
        where user_id = #{userId}
        GROUP BY diary_weather
        order by times
                desc
    </select>

    <select id="getMoodTimes" resultType="java.util.Map">
        select diary_mood as label,
               count(*)   as times
        from private_diary.pd_diary
        where user_id = #{userId}
        GROUP BY diary_mood
        order by times desc
    </select>

    <select id="getEventTimes" resultType="java.util.Map">
        select diary_event as label,
               count(*)    as times
        from private_diary.pd_diary
        where user_id = #{userId}
        GROUP BY diary_event
        order by times desc
    </select>
</mapper>