<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.pri_diary.dao.PdFriendMapper">
  <resultMap id="BaseResultMap" type="friend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="my_user_id" jdbcType="INTEGER" property="myUserId" />
    <result column="my_email" jdbcType="VARCHAR" property="myEmail" />
    <result column="my_phone" jdbcType="VARCHAR" property="myPhone" />
    <result column="friend_user_id" jdbcType="INTEGER" property="friendUserId" />
    <result column="friend_email" jdbcType="VARCHAR" property="friendEmail" />
    <result column="friend_phone" jdbcType="VARCHAR" property="friendPhone" />
    <result column="friend_remark" jdbcType="VARCHAR" property="friendRemark" />
  </resultMap>
</mapper>