<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.priDiary.dao.PdMessageDao">
    <resultMap id="BaseResultMap" type="per.guzx.priDiary.pojo.PdMessage">
        <id column="msg_id" javaType="int" jdbcType="INTEGER" property="msgId"/>
        <result column="msg_sender" javaType="int" jdbcType="INTEGER" property="msgSender"/>
        <result column="msg_receiver" javaType="int" jdbcType="INTEGER" property="msgReceiver"/>
        <result column="msg_create_time" javaType="string" jdbcType="VARCHAR" property="msgCreateTime"/>
        <result column="msg_is_readed" javaType="boolean" jdbcType="VARCHAR" property="msgIsReaded"/>
        <result column="msg_content" javaType="string" jdbcType="VARCHAR" property="msgContent"/>
    </resultMap>

    <sql id="select_message">
        select private_diary.pd_message.msg_sender,
               private_diary.pd_message.msg_receiver,
               private_diary.pd_message.msg_create_time,
               private_diary.pd_message.msg_is_readed,
               private_diary.pd_message.msg_content
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="msgId">
        insert into private_diary.pd_message(msg_sender, msg_receiver, msg_create_time, msg_content, msg_is_readed)
                value (#{msgSender}, #{msgReceiver}, #{msgCreateTime}, #{msgContent}, #{msgIsReaded})
    </insert>
</mapper>