<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.pri_diary.dao.PdMessageDao">
  <resultMap id="BaseResultMap" type="message">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="msg_send_user" jdbcType="INTEGER" property="msgSendUser" />
    <result column="msg_receive" jdbcType="INTEGER" property="msgReceive" />
    <result column="msg_create_time" jdbcType="VARCHAR" property="msgCreateTime" />
    <result column="msg_is_readed" jdbcType="VARCHAR" property="msgIsReaded" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
  </resultMap>
</mapper>