<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.priDiary.dao.PdPraiseDao">
    <resultMap id="BaseResultMap" type="per.guzx.priDiary.pojo.PdPraise">
        <id column="praise_id" javaType="int" jdbcType="INTEGER" property="praiseId"/>
        <result column="user_id" javaType="int" jdbcType="INTEGER" property="userId"/>
        <result column="blog_id" javaType="int" jdbcType="INTEGER" property="blogId"/>
        <result column="comment_id" javaType="int" jdbcType="INTEGER" property="commentId"/>
    </resultMap>
</mapper>