<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.pri_diary.dao.PdUserDao">

    <sql id="select_user">
        select user_id       userId,
               user_name     userName,
               user_birthday userBirthday,
               user_sex      userSex,
               user_password userPassword,
               user_state    userState,
               user_phone    userPhone,
               user_email    userEmail,
               user_head     userHead
    </sql>

    <sql id="sql_where">
        <if test="userName !=null and userName !='' ">user_name = #{userName},</if>
        <if test="userPassword !=null and userPassword !='' ">user_password = #{userPassword},</if>
        <if test="userState !=null ">user_state = #{userState},</if>
        <if test="userPhone !=null and userPhone !='' ">user_phone = #{userPhone},</if>
        <if test="userEmail !=null and userEmail !='' ">user_email = #{userEmail},</if>
        <if test="userBirthday !=null and userBirthday !='' ">user_birthday = #{userBirthday},</if>
        <if test="userSex !=null ">user_sex = #{userSex},</if>
        <if test="userHead !=null and userHead !='' ">user_head = #{userHead},</if>
    </sql>

    <sql id="sql_login">
        <if test="userPhone !=null and userPhone != '' ">and user_phone = #{userPhone}</if>
        <if test="userEmail !=null and userEmail != '' ">and user_email = #{userEmail}</if>
    </sql>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into pd_user(user_name, user_password, user_state, user_phone, user_email, user_sex, user_birthday,
                            user_head)
            value (#{userName}, #{userPassword}, #{userState}, #{userPhone}, #{userEmail}, #{userSex}, #{userBirthday},
                   #{userHead})
    </insert>

    <update id="updateUser">
        update pd_user
        <set>
            <include refid="sql_where"></include>
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateUserByEmailOrPhone">
        update pd_user
        set user_password = #{userPassword}
        <where>
            <include refid="sql_login"></include>
        </where>
    </update>

    <select id="findUserById" parameterType="int" resultType="user">
        <include refid="select_user"></include>
        from
        pd_user
        where
        user_id = #{userId}
    </select>

    <select id="findUserByPhoneOrEmail" parameterType="int" resultType="user">
        <include refid="select_user"></include>
        from
        pd_user
        <where>
            <include refid="sql_login"></include>
            and user_password = #{userPassword}
        </where>
    </select>

    <delete id="deleteUser" parameterType="int">
        delete
        from pd_user
        where user_id = #{userId}
    </delete>

    <select id="findUsers" resultType="user">
        <include refid="select_user"></include>
        from
        pd_user
        <where>
            <if test="user.userName != null and user.userName != '' ">and user_name like
                concat(concat('%',#{user.userName}),'%')
            </if>
            <if test="user.userPhone != null and user.userPhone != '' ">and user_Phone like
                concat(concat('%',#{user.userPhone}),'%')
            </if>
            <if test="user.userEmail != null and user.userEmail != '' ">and user_Email like
                concat(concat('%',#{user.userEmail}),'%')
            </if>
            <if test="user.userSex != null and user.userSex != '' ">and user_sex = #{user.userSex}</if>
            limit #{start},#{limit}
        </where>
    </select>

    <select id="findUserCount" resultType="int">
        select count(user_name)
        from pd_user
        <where>
            <if test="userName != null and userName != '' ">and user_name like
                concat(concat('%',#{userName}),'%')
            </if>
            <if test="userPhone != null and userPhone != '' ">and user_Phone like
                concat(concat('%',#{userPhone}),'%')
            </if>
            <if test="userEmail != null and userEmail != '' ">and user_Email like
                concat(concat('%',#{userEmail}),'%')
            </if>
            <if test="userSex != null and userSex != '' ">and user_sex = #{userSex}</if>
        </where>
    </select>

    <select id="getUserId" resultType="user">
        <include refid="select_user"></include>
        from pd_user
    </select>
</mapper>